<div class="sign-up-wallpaper">
  <div class="sign-up-page">
      <h2>Edit Account</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="sign-up-form-1" style="">
        <%= devise_error_messages! %>
        <div class="field">
          <%= f.label :username %>
          <%= f.text_field :username, autofocus: true, class: "form_field", value: current_user.username %>
        </div>
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "form_field", value: current_user.email %>
        </div>
        <div class="field">
          <%= f.label "Current Password" %>
          <%= f.password_field :current_password, autofocus: true, class: "form_field" %>
        </div>
        <div class="field">
          <%= f.label :new_password %>
          <%= f.password_field :password, autocomplete: "off", class: "form_field" %><br />
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>
        <div class="field">
          <%= f.label :new_password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form_field" %>
        </div>
        <button class="form_button bottom_center" id="next_1" type="button">Next</button>
      </div>
      <div class="sign-up-form-2" style="display:none">
        <div class="field">
          <%= f.label "First Name" %>
          <%= f.text_field :first_name, autofocus: true, class: "form_field", value: current_user.first_name %>
        </div>
        <div class="field">
          <%= f.label "Last Name" %>
          <%= f.text_field :last_name, autofocus: true, class: "form_field", value: current_user.last_name %>
        </div>
        <div class="field">
          <%= f.label "Phone Number" %>
          <%= f.telephone_field :phone_number, autofocus: true, class: "form_field", value: current_user.phone_number %>
        </div>
        <button class="form_button bottom_center" id="next_2" type="button">Next</button>
      </div>
      <div class="sign-up-form-3" style="display:none">
        <div class="field">
          <%= f.label "Billing Address" %>
          <%= f.text_field :billing_address_1, autofocus: true, class: "form_field", value: current_user.billing_address_1 %>
          <%= f.text_field :billing_address_2, autofocus: true, class: "form_field", value: current_user.billing_address_2 %>
        </div>
        <div class="field">
          <%= f.label "Mailing Address" %>
          <%= f.text_field :mailing_address_1, autofocus: true, class: "form_field", value: current_user.mailing_address_1 %>
          <%= f.text_field :mailing_address_2, autofocus: true, class: "form_field", value: current_user.mailing_address_2 %>
        </div>
        <div class="actions">
          <%= f.submit "Save Changes", class: "form_button bottom_center", id: "submit", disabled: true %>
        </div>
      </div>
      <% end %>
  </div>
</div>
