<h1>Edit Listing</h1>
<%= form_for [current_user, @product] do |f| %>
<div class="new-listing-form">
  <div>
    <%= f.label "Product Name" %>
    <%= f.text_field :name, class: "form_field", value: @product.name %> <br />

    <%= f.label "Image Url" %>
    <%= f.text_field :img_url, class: "form_field", value: @product.img_url %> <br />

    <%= f.label "Price" %>
    <%= f.text_field :price, class: "form_field", value: @product.price %> <br />
  </div>
  <div>
    <%= f.label "Description" %> <br />
    <%= f.text_area :description, value: @product.description %>
  </div>
</div>
<h2>Categories</h2>
  <% @categories.each do |category| %>
    <div>
      <%= label_tag "#{category.name}" %>
      <% if @product.categories.include?(category) %>
        <%= check_box_tag "#{category.id}", nil, true%>
      <% else %>
        <%= check_box_tag "#{category.id}" %>
      <% end %>
    </div>
  <% end %>
</div>
<%= f.submit "Save Changes" %>
<% end %>
