<!DOCTYPE html>
<html>
  <head>
    <title>Agora</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class = "<%= params[:controller] %>">
    <nav>
      <div id= "categories" class="drop-down">
        <button class="drop-button">Categories</button>
        <div class="drop-down-content">
          <% @categories.each do |category| %>
            <%= link_to category.name, category_path(category) %>
          <% end %>
        </div>
      </div>
      <a class="agora-logo" href="<%= root_path %>">AGORA</a>
      <div id= "account" class="drop-down">
        <button class="drop-button">Account</button>
        <div class="drop-down-content">
          <% if current_user %>
            <%= link_to "My Account", user_path(current_user) %>
            <%= link_to "Cart (#{current_user.cart.length})", "/cart" %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path %>
          <% end %>
        </div>
      </div>
    </nav>
    <main>
      <%= yield %>
    </main>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
